<h2>Course Registration</h2>

<form #courseForm="ngForm" (ngSubmit)="register()">

  <label>Name</label><br>

  <input
    type="text"
    name="name"
    required
    [(ngModel)]="student.name"
    #name="ngModel">

  <div *ngIf="name.invalid && name.touched">
    Name is required
  </div>

  <br><br>

  <label>Email</label><br>

  <input
    type="email"
    name="email"
    required
    [(ngModel)]="student.email"
    #email="ngModel">

  <div *ngIf="email.invalid && email.touched">
    Email is required
  </div>

  <br><br>

  <label>Course</label><br>

  <input
    type="text"
    name="course"
    required
    [(ngModel)]="student.course"
    #course="ngModel">

  <div *ngIf="course.invalid && course.touched">
    Course is required
  </div>

  <br><br>

  <button
    type="submit"
    [disabled]="courseForm.invalid">

    Register

  </button>

</form>